{% extends 'layouts/base.html.twig' %}

{% block title 'Village green' %}

{% block body %}
<header id="background">
    <div class="container panier"> 
        {# header navigation #} 
        {{ include('/layouts/header_navigation.html.twig') }} 

        <div class="contenant-panier">
            <div class="text-center mx-auto">
               <h1 class="text-center mt-5">Mon panier</h1>  
            </div>
            <hr>
            {% if items|length > 0 %} 
                <div class="row d-flex justify-content-center"> 
                    {# mini-nav + total price #} 
                    <div class="col-11 d-flex my-5">
                        <div class="col-3">
                           <a href="javascript:history.back()"><p class="text-mini-nav text-center">RETOUR AUX ACHATS</p></a>  {# Pour retourner sur la page précédente #}
                        </div>
                        <div class="col-3">
                           <a href="{{ path('app_panier_clear') }}"><p class="text-mini-nav text-center">VIDER MON PANIER</p></a>  
                        </div>
                        <div class="col text-end">
                            <p class="text-total">TOTAL : <span class="price">{{ total|format_currency('EUR', locale='fr') }}</span>
                            {% if not app.user %}
                              <a href="{{ path('app_checkout_connection') }}">  {# si l'utilisateur et connecté étape 2 livraison sinon étape 1 connection ou inscription #}
                            {% else %}
                                <a href="{{ path('app_checkout_shipping') }}">
                            {% endif %}
                                <button class="btn btn-success">COMMANDER</button>
                              </a> 
                            </p> 
                        </div>
                    </div>
                
                {# card panier de mes produits #}
                <div class="col-11 d-flex align-items-end">
                    <div class="col card panier-card">
                        <div class="card-body">
                            {% for items in items %}
                            
                            {% set PriceTTC = items.product.price + ( 20 / 100 * items.product.price) %} {# prix TTC #} 
                            
                            <div class="row mb-3">
                                {# info du produit #}
                                <div class="col-2">
                                   <img src="{{ asset('build/images/' ~ items.product.image) }}" alt="{{ asset(items.product.image) }}">
                                </div>
                                <div class="col-5 block-info">
                                    {# marque label du produit #}
                                   <p><span>{{ items.product.brand }} </span>{{ items.product.label }}</p>                                  
                                   
                                   {# prix du produit #}
                                   <p>
                                    <span class="price">
                                    {% if items.product.discount != null %}
                                        {% set productDiscount = (items.product.discount + app.user.Coeff) %}
                                        {% set DiscountPrice = PriceTTC - (productDiscount / 100 * PriceTTC) %} {# varible qui stock le prix après réduction #}
                                        {{ DiscountPrice|format_currency('EUR', locale='fr') }}
                                    {% else %}
                                        {{ PriceTTC|format_currency('EUR', locale='fr') }}
                                    {% endif %}
                                    </span>
                                    {% if items.product.discount != null %}
                                    <strike>{{ PriceTTC|abs|format_currency('EUR', locale='fr') }}</strike>
                                   </p>             
                                   
                                   {# économie du prix #}
                                   <p><span>Économisez {{ (PriceTTC * (items.product.discount / 100))|round|format_currency('EUR', locale='fr') }}</span></p>
                                   {% endif %}                                 
                                   <p>Commandé avant 12h, expédié aujourd'hui.</p>
                                </div> 
                                {# fin info du produit #}

                                {# modification du produit #}                             
                                <div class="col-5 d-flex justify-content-end align-items-center">
                                    {# supprimer le produit #}
                                    <div class="div-col">
                                    <a href="{{ path('app_panier_delete', {'id': items.product.id}) }}">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-x-square-fill" viewBox="0 0 16 16">
                                            <path d="M2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2zm3.354 4.646L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 1 1 .708-.708z"/>
                                        </svg>
                                    </a>
                                        
                                    </div>
                                    {# quantité -1 #}
                                    <div class="div-col">
                                        <a href="{{ path('app_panier_remove', {'id': items.product.id}) }}">
                                            <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-dash-square-fill" viewBox="0 0 16 16">
                                                <path d="M2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2zm2.5 7.5h7a.5.5 0 0 1 0 1h-7a.5.5 0 0 1 0-1z"/>
                                            </svg> 
                                        </a>                                    
                                    </div>
                                    {# quantité +1 #}
                                    <div class="div-col">
                                        <a href="{{ path('app_panier_increase', {'id': items.product.id}) }}">
                                            <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-plus-square-fill" viewBox="0 0 16 16">
                                                <path d="M2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2zm6.5 4.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3a.5.5 0 0 1 1 0z"/>
                                            </svg>
                                        </a>      
                                    </div>
                                    {# affichage de la quantité #}
                                    <div class="div-col">
                                        <input class="text-center" type="text" value="{{ items.quantity }}">
                                    </div>
                                </div>
                                {# fin modification du produit #}                            
                            </div>
                            <hr class="between-products">
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
            
            {% else %}
            <div class="text-center mt-5">
                <p class="empty-panier">VOTRE PANIER EST VIDE.</p>
                <p class="empty-panier"><span>FAITES-VOUS PLAISIR, REMPLISSEZ-LE !</span></p>
                <a href="{{ path('app_products') }}"><p class="text-total mt-5">Voir tout nos produits</p></a> 
            </div>
            
        {% endif %}

        </div> {# fermeture contenant-page #}
            
        {# footer #} 
        {{ include('/layouts/footer.html.twig') }}
    </div> {# fermeture du container products #}   
</header>
{% endblock %}