{% extends 'layouts/base.html.twig' %}

{% block title 'Village green' %}

{% block body %}
    <header id="background">
        <div class="container">
            <div class="home">  
                {# header navigation #} 
                {{ include('/layouts/header_navigation.html.twig') }} 

                {# bannieère publicitaire image #}
                <div class="banniere-top">
                    <div class="div-img-pub">
                        <img class="img-fluid img-pub" src="{{ asset('build/images/pub_guitare.png') }}" alt="pub guitare">
                    </div>
                    <div class="div-img-prix">
                        <img class="img-fluid img-prix" src="{{ asset('build/images/banniere_droite_prix.png') }}" alt="prix livraison">
                    </div>
                </div>
                
                {# banniere des services image #}
                <div class="row banniere-middle">
                    <img class="img-fluid img-banniere-middle" src="{{ asset('build/images/banniere_centre_4_pictos.png') }}" alt="infos livraison">
                </div>

                {# catégorie en image #}
                <div class="nos-categories">
                    <p class="titre-gras catégories">Nos catégories</p>
                    <div class="banniere-produits">
                        <div class="image">
                            <img class="img-fluid" src="{{ asset('build/images/CATEGORIES_guitare.png') }}" alt="image guitare">
                            <div class="image_overlay">
                                <img src="{{ asset('build/images/CATEGORIES_ROLL_OVER_guitare.png')}}" alt="categorie guitare">  
                            </div>
                        </div>
                        <div class="image">
                            <img class="img-fluid" src="{{ asset('build/images/CATEGORIES_batterie.png') }}" alt="image batterie">
                            <div class="image_overlay">
                                <img src="{{ asset('build/images/CATEGORIES_ROLL_OVER_batterie.png')}}" alt="categorie batterie">  
                            </div>
                        </div>
                        <div class="image">
                            <img class="img-fluid" src="{{ asset('build/images/CATEGORIES_piano.png') }}" alt="image piano">
                            <div class="image_overlay">
                                <img src="{{ asset('build/images/CATEGORIES_ROLL_OVER_piano.png')}}" alt="categorie piano">  
                            </div>
                        </div>
                        <div class="image">
                            <img class="img-fluid" src="{{ asset('build/images/CATEGORIES_micro.png') }}" alt="image micro">
                            <div class="image_overlay">
                                <img src="{{ asset('build/images/CATEGORIES_ROLL_OVER_micro.png')}}" alt="categorie micro">  
                            </div>
                        </div>
                        <div class="image">
                            <img class="img-fluid" src="{{ asset('build/images/CATEGORIES_sono.png') }}" alt="image sono">
                            <div class="image_overlay">
                                <img src="{{ asset('build/images/CATEGORIES_ROLL_OVER_sono.png')}}" alt="categorie sono">  
                            </div>
                        </div>
                        <div class="image">
                            <img class="img-fluid" src="{{ asset('build/images/CATEGORIES_cases.png') }}" alt="image cases">
                            <div class="image_overlay">
                                <img src="{{ asset('build/images/CATEGORIES_ROLL_OVER_cases.png')}}" alt="categorie cases">  
                            </div>
                        </div>
                        <div class="image">
                            <img class="img-fluid" src="{{ asset('build/images/CATEGORIES_cable.png') }}" alt="image cable">
                            <div class="image_overlay">
                                <img src="{{ asset('build/images/CATEGORIES_ROLL_OVER_access.png')}}" alt="categorie accessoire">  
                            </div>
                        </div>
                        <div class="image">
                            <img class="img-fluid" src="{{ asset('build/images/CATEGORIES_saxo.png') }}" alt="image saxo">
                            <div class="image_overlay">
                                <img src="{{ asset('build/images/CATEGORIES_ROLL_OVER_saxo.png')}}" alt="categorie saxo">  
                            </div>
                        </div>   
                    </div>
                </div>

                {# les produits en top ventes #}
                <div class="row last-block">
                    <div class="col-6 ml-3">
                    <p class="titre-gras">Nos meilleurs ventes</p>
                    <div class="ventes">
                        <div class="image">
                            <img class="img-fluid" src="{{ asset('build/images/TOP_VENTES_guitare.png') }}" alt="top vente guitare">
                             <div class="image_overlay">
                                <img src="{{ asset('build/images/TOP_VENTES_ROLL_OVER_guitare.png')}}" alt="top vente guitare details">  
                            </div>
                        </div>
                        <div class="image">
                            <img class="img-fluid" src="{{ asset('build/images/TOP_VENTES_saxo.png') }}" alt="top vente saxo">
                             <div class="image_overlay">
                                <img src="{{ asset('build/images/TOP_VENTES_ROLL_OVER_saxo.png')}}" alt="top vente saxo details">  
                            </div>
                        </div>
                        <div class="image">
                            <img class="img-fluid" src="{{ asset('build/images/TOP_VENTES_piano.png') }}" alt="top vente piano">
                             <div class="image_overlay">
                                <img src="{{ asset('build/images/TOP_VENTES_ROLL_OVER_piano.png')}}" alt="top vente piano details">  
                            </div>
                        </div>
                    </div>
                    </div>

                    <div class="col-5 partenaires">
                    <p class="titre-gras">Nos partenaires</p>
                        <div>
                            <img class="img-fluid" src="{{ asset('build/images/partenaires_4_logos.png') }}" alt="top vente guitare">
                        </div>
                    </div>
                </div>    
            </div>
             
            {# footer #} 
            {{ include('/layouts/footer.html.twig') }} 
        </div> {# fermeture du container #}
    </header>
{% endblock %}
