{{ form_start(form) }}

    <div class="row d-flex justify-content-center align-items-top">
        <div class="col-3">
            {{ form_row(form.keyword, {attr: {class: 'form-input'}}) }}
        </div>
        <div class="col-2">
            {{ form_row(form.min, {attr: {class: 'form-input'}}) }}
        </div>
        <div class="col-2">
            {{ form_row(form.max, {attr: {class: 'form-input'}}) }}
        </div>

        {# div du slider de prix #}
        <div class="col-3" id="priceSlider"></div>

        <div class="col-2 d-flex justify-content-center align-items-top container-form-check">
            {{ form_row(form.discount, {attr: {class: 'form-checked'}}) }}
        </div>
        <div class="col-3 mt-3">
            <button type="submit" class="btn btn-primary w-100 lh-1">Filtrer</button>
        </div>
    </div>
    
{{ form_end(form) }}
