{% extends 'layouts/base.html.twig' %}

{% block title 'Village green' %}

{% block body %}
    <header id="background">
        <div class="container products"> 
            {# header navigation #} 
            {{ include('/layouts/header_navigation.html.twig') }} 

            <div class="contenant-page">
            {% for category in categories %}
                <div class="title-cat">
                    <h1>Nos {{ category.label|replace({ 'Guit/Bass': "Guitare", 'DJ': "Deejay", 'Accessoires': "Accessoire" }) }}s</h1> 
                </div>
                <!-- Swiper des sous-catégories -->
                <div class="swiper mySwiper"> 
                    <div class="swiper-wrapper d-flex">
                    {% for subcategory in subcategory %}
                        {% if subcategory.category.id is same as (category.id) %} 
                        <div class="swiper-slide">
                            <a href="{{ path('app_sub_category_show', {label: subcategory.label, id: subcategory.id}) }}">
                                <div class="img-slide">
                                    <img src="{{ asset(subcategory.background) }}" alt="{{ subcategory.label }}">
                                </div>
                                <div class="details-sous-cat">
                                    {% if subcategory.label|length > 25 %} {# pour l'affichage des labels de sous-cat au bon format quand le label et trop long #}
                                        <h2 class="small">{{ subcategory.label|nl2br }}</h2>
                                        {% else %}
                                        <h2>{{ subcategory.label|nl2br }}</h2>
                                    {% endif %}
                                </div>
                            </a>    
                        </div>
                        {% endif %}
                    {% endfor %}  
                    </div>     
                </div>
            {% endfor %}
            </div> {# fermeture contentant-page #}
             
            {# footer #} 
            {{ include('/layouts/footer.html.twig') }}
        </div> {# fermeture du container products #}   
    </header>
{% endblock %}