{% extends 'layouts/base.html.twig' %}

{% block title 'Village green' %}

{% block body %}
    <header id="background">
        <div class="container products-show"> 
            {# header navigation #} 
            {{ include('/layouts/header_navigation.html.twig') }}

            {# Fil d'Ariane #} 
            {% for category in categories %}
                {% for subcategory in subcategory %}
                    {% if subcategory.label == app.request.get('label') and subcategory.category.id is same as (category.id) %} 
                    <div class="row resultat-filtre d-flex justify-content-around fil-ariane">
                        <div class="col-5">
                            <nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
                                <ol class="breadcrumb">
                                   <li class="breadcrumb-item">
                                        <a class="text-Ariane" href="{{ path('app_products') }}#{{ category.label }}"> {# je passe le nom de la cétégorie dans l'ancre pour retourner sur la bonne catégorie sur la page sub_category#}
                                            {{ category.label|replace({ 'Guit/Bass': "Guitare" }) }}
                                        </a>
                                   </li>
                                </ol>
                            </nav>                
                        </div>
                        <div class="col-5"></div>
                    </div>
                    {% endif %}
                {% endfor %}
            {% endfor %}
            
            {# card filtre de recherche #}
            <div class=" d-flex justify-content-center js-filter">
                <div class="col-11 card card-filtre">
                    <div class="card-body">
                        {# filtre de recherche #}
                        <div class="row form-filtre">
                            <div class="col d-flex justify-content-center">
                                {% include 'layouts/_filter.html.twig' with {form : form}  only %}
                            </div>
                        </div> 
                    </div>
                </div>
            </div>
           
            {# filtre pour le compte de résultat #}
            {% set count = 0 %} 
            {% for products in products %}
                    {% set count = count + 1 %}   
            {% endfor %}
            {# filtre de resutlat #}
            <div class="row resultat-filtre d-flex justify-content-around">
                <div class="col-5">
                    <p class="resultat-text">{{ pluralize(count, 'RESULTAT', 'RESULTATS') }}</p> {# création d'une fonction twig pluriel singulier voir Twig/AppExtension #}
                </div>
                <div class="col-5 text-end">
                    {{ knp_pagination_sortable(products, 'prix', 'p.price') }}
                </div>
            </div>
    
            {# card produit #}
            <div class="contenant-page-s-cat">
                <div class="col-11">
                    <div class="grid">
                        {% for products in products %}
                            <a href="{{ path('app_products_details', {label: products.subcategory.label, label_products: products.label, ref: products.reference}) }}">
                                <div class="card">
                                    {% if products.discount is not null %}
                                    <div class="row d-flex justify-content-end">
                                        <div class="col-3">
                                            <p class="text-end text-center discount">-{{ products.discount }}%</p>
                                        </div>
                                    </div>
                                    {% else %}
                                        <p class="text-end discount back">&emsp;</p>
                                    {% endif %}        
                                    <img src="{{ asset(products.image) }}" alt="{{ products.label }}" class="card-img-top mb-3">
                                    <hr>
                                    <div class="card-body">
                                        <h2 class="text-brand">{{ products.brand }}</h2>
                                        <h3 class="text-label">{{ products.label }}</h3>
                                        <h3 class="text-s-cat mb-3">{{ products.subcategory.label|lower }}</h3>

                                        <div class="card-title price mb-0">
                                            {% set DiscountPrice = products.price - (products.discount / 100 * products.price) %} {# varible qui stock le prix après réduction #}
                                            {{ DiscountPrice|format_currency('EUR', locale='fr') }} 
                                        </div>

                                        <div class="row">
                                            <div class="col-8">
                                                {% if products.discount is not null %}
                                                    <div class="card-title text-small mb-0">
                                                        au lieu de {{ products.price|abs|format_currency('EUR', locale='fr') }}
                                                    </div>
                                                {% endif %}
                                                <div class="text-small mb-0 X4">
                                                    ou <span>4X {{ (DiscountPrice / 4)|format_currency('EUR', locale='fr') }}</span> 
                                                </div>
                                            </div>
                                            <div class="col">
                                                <div class="card-title mb-0">
                                                    <p class="text-small m-0">
                                                        {% if products.stock <= products.stockAlert %}
                                                            <svg xmlns="http://www.w3.org/2000/svg" width="10" height="10" fill="currentColor" class="bi bi-circle-fill red" viewBox="0 0 16 20"><circle cx="8" cy="8" r="8"/></svg>
                                                        {% else %}
                                                            <svg xmlns="http://www.w3.org/2000/svg" width="10" height="10" fill="currentColor" class="bi bi-circle-fill green" viewBox="0 0 16 20"><circle cx="8" cy="8" r="8"/></svg>
                                                        {% endif %}
                                                        Stock
                                                    </p>
                                                </div>
                                                <div class="card-title">
                                                    <p class="text-small m-0">Réf: {{ products.reference }}</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div> 
                            </a>                               
                        {% endfor %}
                    </div>
                    
                    {# display navigation #}
                    <div class="row d-flex justify-content-start mt-5">
                         <div class="col-4 paginator js-filter-pagination">
                        {{ knp_pagination_render(products) }}
                        </div>
                    </div>
                   
                </div> 
            </div> {# fermeture card produit #}
 
            {# footer #} 
            {{ include('/layouts/footer.html.twig') }}
        </div> {# fermeture du container products #}   
    </header>
{% endblock %}