{% extends 'layouts/base.html.twig' %}

{% block title 'Village green' %}

{% block body %}
    <header id="background">
        <div class="container subCategory"> 
            {# header navigation #} 
            {{ include('/layouts/header_navigation.html.twig') }}

           
                    <div class="row mt-5">
                        <div class="col-5">
                            <p>{{ pluralize(products|length, 'RESULTAT', 'RESULTATS') }}</p> {# création d'une fonction twig pluriel singulier voir Twig/AppExtension #}
                        </div>
                    </div> 
             
            
            <div class="contenant-page">
                <div class="grid">
                    {% for products in products %}
                        {% if products.subcategory.id == (app.request.get('id')) %}  
                            <div class="card">
                                <img src="{{ asset(products.image)}}" alt="{{ products.label }}" class="card-img-top">
                                <div class="card-body">
                                    <h2 class="h5">{{ products.brand }}{{ products.label }}</h2>
                                    <div class="card-title">
                                        {{ products.price }}
                                        {% if products.discount is not null %}
                                            <small class="text text-warning">-{{ products.discount }}%</small>
                                        {% endif %}
                                    </div>
                                    <p class="text text-muted">{{ products.reference }}</p>
                                </div>
                            </div> 
                        {% endif %}
                    {% endfor %}
                </div>
            </div> {# fermeture contentant-page #}
             
            {# footer #} 
            {{ include('/layouts/footer.html.twig') }}
        </div> {# fermeture du container products #}   
    </header>
{% endblock %}