{% extends 'layouts/base.html.twig' %}

{% block title 'Village green' %}

{% block body %}
<header id="background">
    <div class="container account"> 
        {# header navigation #} 
        {{ include('/layouts/header_navigation.html.twig') }} 

        <div class="contenant-account change-password">
            <div class="text-center mx-auto">
               <h1 class="text-center mt-5">Modification du mot de passe</h1> 
            </div>
            <hr>

            <div class="row d-flex justify-content-around">
                {# card info perso #}
                <div class="col-6 d-flex mt-5">
                     <div class="col card edit-card">
                        <div class="card-body">
                            <div class="row mb-2 d-flex justify-content-center">
                                <div class="col-10">
                                    <h5 class="card-title text-center m-0">Modifier mon mot de passe :</h5>
                                </div>
                            </div>

                            <hr>
                            {# card modifier mon mot de passe #}
                            {{ form_start(form)}}
                            <div class="row d-flex justify-content-center mt-3"> 
                                <div class="col-8 m-0">
                                    {{ form_widget(form)}}
                                </div>
                                <div class="col-8">
                                    <button type="submit" class="btn btn-primary w-100 lh-1 mt-3">Valider</button>
                                </div>  
                            </div> 
                            {{ form_end(form)}}
                        </div>
                    </div> 
                </div>
            </div>

        </div> {# fermeture contenant-page #}
            
        {# footer #} 
        {{ include('/layouts/footer.html.twig') }}
    </div> {# fermeture du container products #}   
</header>
{% endblock %}