{% extends 'layouts/base.html.twig' %}

{% block title 'Village green' %}

{% block body %}
    <header id="background">
        <div class="container-fluid container-admin-dashboard">
            <div class="row">
                {# -----gauche menu----- #}
                {% include('admin/layouts/menu_admin.html.twig') %}
                {# ------fermeture gauche menu----- #}

                {# -----droite corps----- #}
                <div class="col body" id="body"> 
                    {# navbar #}
                    <div class="col mt-3">
                        {% include('admin/layouts/navbar_admin.html.twig') %}
                    </div>
                    {# fermeture navbar #}

                    {# titre du champs + boutton modifier #}
                    <div class="row mt-5">
                        <div class="col-10 d-flex">
                            <div class="col-10">
                                <h2 class="m-0">Compte</h2>
                            </div>
                        </div>
                    </div>

                    <hr>
                    
                    <main>
                    <div class="row mt-5">
                        <div class="col-12 d-flex justify-content-evenly">
                            <div class="col-5">
                                <div class="card">
                                    <div class="card-header text-center">
                                        Chiffre d'affaire Particulier HT
                                    </div>
                                    <div class="card-body text-center">
                                        {# Chiffre d’affaires = nombre de produits vendus x prix unitaire #}
                                       <span class="color fw-bold">{{ turnoverPartHT|format_currency('EUR', locale='fr') }}</span> 
                                    </div>
                                </div>
                            </div>
                            <div class="col-5">
                               <div class="card">
                                <div class="card-header text-center">
                                    Chiffre d'affaire Professionnel HT
                                </div>    
                                    <div class="card-body text-center">
                                        {# Chiffre d’affaires = nombre de produits vendus x prix unitaire #}
                                        <span class="color fw-bold">{{ turnoverProHT|format_currency('EUR', locale='fr') }}</span>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-12 d-flex justify-content-evenly mt-5">
                            <div class="col-5">
                                <div class="card">
                                    <div class="card-header text-center">
                                        Chiffre d'affaire Total HT
                                    </div>
                                    <div class="card-body text-center">
                                        {% set turnoverTotalHT = turnoverPartHT + turnoverProHT %}
                                        <span class="color fw-bold">{{ turnoverTotalHT|format_currency('EUR', locale='fr') }}</span>
                                    </div>
                                </div>
                            </div>

                            <div class="col-5">
                                <div class="card">
                                    <div class="card-header text-center">
                                        Chiffre d'affaire Total TTC
                                    </div>
                                    <div class="card-body text-center">
                                        {% set turnoverTotalTTC = turnoverPartTTC + turnoverProTTC %}
                                        <span class="color fw-bold">{{ turnoverTotalTTC|format_currency('EUR', locale='fr') }}</span>
                                    </div>
                                </div>
                            </div>      
                        </div>

                        <div class="col-12 d-flex justify-content-evenly mt-5">

                            <div class="col-5">
                               <div class="card">
                                <div class="card-header text-center">
                                    {# Bénéfice brut = prix de vente du produit ou service - coût de revient #}
                                    Bénéfice brut 
                                </div>    
                                    <div class="card-body text-center">
                                        {% set profitBrut = (turnoverTotalTTC) - (turnoverTotalHT - (40 / 100 * turnoverTotalHT)) %}
                                        <span class="color fw-bold">{{ profitBrut|format_currency('EUR', locale='fr') }}</span>
                                    </div>
                                </div>
                            </div>      

                            <div class="col-5">
                                <div class="card">
                                    <div class="card-header text-center">
                                        {# Bénéfice net = bénéfice brut - (charges + amortissement de l’actif + provisions) - impôt #}
                                        Bénéfice net
                                    </div>
                                    <div class="card-body text-center">
                                        {% set profitNet = profitBrut - (100000 + 90000 + 60000) - 200000 %}
                                        <span class="color fw-bold">{{ profitNet|format_currency('EUR', locale='fr') }}</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    </main>
                </div>
                {# -------fermeture droite corps------ #}               
            </div>         
        </div>
    </header>
{% endblock %}
