{% extends 'layouts/base.html.twig' %}

{% block title 'Village green' %}

{% block body %}
<header id="background">
    <div class="container connection"> 
        {# header navigation #} 
        {{ include('/layouts/header_navigation.html.twig') }} 

        <div class="contenant-connection">
            <div id ="order-details-check" class="row d-flex justify-content-center">
                <div class="col-11 d-flex justify-content-center"> 
                    <div class="col-10 card">
                         <div class="card-header text-center">
                            Détails de votre commande <span> {{ app.session.get('orderReference') }}</span>
                        </div>
                        <div class="card">
                            <div class="card-body">
                                {% for items in items %}

                                    {% set PriceTTC = items.product.price + ( 20 / 100 * items.product.price) %} {# prix TTC #}
                                    {% set productsDiscount = (items.product.discount + app.user.coeff) %} {# promotion par rapport au type d'utilisateur #} 

                                <div class="row mb-3">
                                    {# info du produit #}
                                    <div class="col-2">
                                        <img src="{{ asset('build/images/' ~ items.product.image) }}" alt="{{ asset(items.product.image) }}">
                                    </div>
                                    <div class="col-8 block-info">
                                        {# marque label du produit #}
                                        <p class="brand"><span>{{ items.product.brand }} </span>{{ items.product.label }}</p>                        

                                        {# prix du produit ttc sans réduction #}
                                        <p class="brand">
                                            <span>Prix base: </span>{{ PriceTTC|format_currency('EUR', locale='fr') }}   
                                        </p>     

                                        {# réduction #}
                                        {% if  items.product.discount != null %}
                                            <p class="brand">
                                                <span>Remise de </span>{{ productsDiscount }}%
                                                <span>soit </span>{{ (PriceTTC * (productsDiscount / 100))|round|format_currency('EUR', locale='fr') }}
                                            </p>
                                        {% endif %}

                                        {# prix du produit après réduction ttc #}
                                        <p class="brand">
                                            {% if items.product.discount != null %}
                                            <span>Prix remisé: </span>
                                            <span class="price">
                                                {% set DiscountPrice = PriceTTC - (productsDiscount / 100 * PriceTTC) %} {# varible qui stock le prix après réduction #}
                                                {{ DiscountPrice|format_currency('EUR', locale='fr') }}
                                            {% else %}
                                                <span>Prix village green: </span>
                                                <span class="price">
                                                    {{ PriceTTC|format_currency('EUR', locale='fr') }}
                                                </span>   
                                            </span>
                                            {% endif %}
                                        </p>                                               
                                    </div> 
                                    
                                    <div class="col-2 text-end">
                                       <span class="quant-text">Quantité: </span> <span class="quantity">{{ items.quantity }}</span>       
                                    </div>
                                    {# fin info du produit #}                            
                                </div>
                                <hr class="between-products">
                                {% endfor %}

                                {# sous-total & total TTC #}
                                <div class="col-row">
                                    {# sous-total #}
                                    <div class="col-12 d-flex justify-content-center">
                                        <div class="col-6">
                                            <p class="small-text mb-0">Sous-total:</p>  
                                        </div>   
                                        <div class="col-5 text-end">                                              
                                            <p class="small-text">{{ total|format_currency('EUR', locale='fr') }}</p>  
                                        </div>
                                    </div> 
                                    {# type de livraison #}
                                    <div class="col-12 d-flex justify-content-center">
                                        <div class="col-6">
                                            <p class="small-text mb-0">Livraison: <span class="quantity">{{ shipping }}</span></p>  
                                        </div>   
                                        <div class="col-5 text-end"> 
                                            {% if shipping == 'Premium' %}                                             
                                                <p class="small-text">9,99 €</p>
                                            {% else %}
                                                <p class="small-text">OFFERT</p>
                                            {% endif %}  
                                        </div>
                                    </div> 
                                    {# le code promo #}
                                    <div class="col-12 d-flex justify-content-center">
                                        <div class="col-6">
                                            <p class="small-text mb-0">Total: <span class="griso">(taxe incluse)</span></p>  
                                        </div>   
                                        <div class="col-5 text-end">
                                            {% if shipping == 'Premium' %}
                                                {% set totalPremium = total + 9.99 %} 
                                                <p class="small-text">{{ totalPremium|format_currency('EUR', locale='fr') }}</p>
                                            {% else %}
                                                <p class="small-text">{{ total|format_currency('EUR', locale='fr') }}</p>
                                            {% endif %}                                                                              
                                        </div>
                                    </div> 
                                    <hr class="between-products">
                                    {# code promo #}
                                    {% if app.session.get('codepromo') %}
                                     <div class="col-12 d-flex justify-content-center">
                                        <div class="col-6">
                                            <p class="small-text mb-0">Code promo: {{ codepromo.codePromo }}</p>  
                                        </div>   
                                        <div class="col-5 text-end"> 
                                            <p class="small-text"> -{{ codepromo.codeValue }} %</p>          
                                        </div>
                                    </div>
                                    <div class="col-12 d-flex justify-content-center">
                                        <div class="col-6">
                                            <p>Total : <span class="griso">(taxe incluse)</span></p>  
                                        </div>   
                                        <div class="col-5 text-end">
                                            {% if shipping == 'Premium' %}
                                                {% set totalPremium = total + 9.99 %} 
                                                {% set totalPremium = totalPremium - ( codepromo.codeValue  / 100 * totalPremium) %}
                                                {% set total = totalPremium %}
                                                <p class="price mb-0">{{ total|format_currency('EUR', locale='fr') }}</p>
                                            {% else %}
                                                {% set total = total - ( codepromo.codeValue / 100 * total) %}
                                                <p class="price mb-0">{{ total|format_currency('EUR', locale='fr') }}</p>
                                            {% endif %}                                                                                 
                                        </div>
                                    </div>
                                    {% else %} 
                                    {# total #}
                                    <div class="col-12 d-flex justify-content-center">
                                        <div class="col-6">
                                            <p>Total : <span class="griso">(taxe incluse)</span></p>  
                                        </div>   
                                        <div class="col-5 text-end">
                                            {% if shipping == 'Premium' %}
                                                {% set totalPremium = total + 9.99 %}
                                                {% set total = totalPremium %} 
                                                <p class="price mb-0">{{ total|format_currency('EUR', locale='fr') }}</p>
                                            {% else %}
                                                <p class="price mb-0">{{ total|format_currency('EUR', locale='fr') }}</p>
                                            {% endif %}                                                                              
                                        </div>
                                    </div> 
                                    {% endif %}
                                </div>                                        
                                {# fermeture sous-total & total #}
                            </div>
                        </div> 
                    </div> 
                </div>
            </div>

            {# facture PDF + QR CODE #}
            <div class="row d-flex justify-content-center">
                <div class="col-10 d-flex justify-content-between">
                    <div class="col-5 my-3 d-flex justify-content-center">
                       <a href="{{ path('app_download_invoice') }}"><p class="pdf text-center">TELECHARGER MA FACTURE</p></a> 
                    </div>   
                    <div class="col-5 my-3 d-flex justify-content-center">
                       <a href="{{ path('app_print_invoice') }}"><p class="pdf text-center">IMPRIMER MA FACTURE</p></a> 
                    </div>   
                </div> 
            </div>
            <hr>
           
        </div> {# fermeture contenant-page #}
            
        {# footer #} 
        {{ include('/layouts/footer.html.twig') }}
    </div> {# fermeture du container products #}   
</header>
{% endblock %}

