{% extends 'layouts/base.html.twig' %}

{% block title 'Village green' %}

{% block body %}
<header id="background">
    <div class="container connection"> 
        {# header navigation #} 
        {{ include('/layouts/header_navigation.html.twig') }} 

        <div class="contenant-connection">
            <div class="col-lg card card-progress mt-5">
                {# progress-bar #}
                <div class="card-body">
                    <div class="row d-flex justify-content-between">
                        {# step connexion #}
                        <div class="col-2">
                            <p class="text-progress color m-0">
                                <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-check-square" viewBox="0 0 16 16">
                                    <path d="M14 1a1 1 0 0 1 1 1v12a1 1 0 0 1-1 1H2a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1h12zM2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2z"/>
                                    <path d="M10.97 4.97a.75.75 0 0 1 1.071 1.05l-3.992 4.99a.75.75 0 0 1-1.08.02L4.324 8.384a.75.75 0 1 1 1.06-1.06l2.094 2.093 3.473-4.425a.235.235 0 0 1 .02-.022z"/>
                                </svg>
                                Connexion
                            </p>
                        </div>
                        {# step Livraison #}
                        <div class="col-2">
                            <p class="text-progress color text-center m-0">
                                <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-check-square" viewBox="0 0 16 16">
                                    <path d="M14 1a1 1 0 0 1 1 1v12a1 1 0 0 1-1 1H2a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1h12zM2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2z"/>
                                    <path d="M10.97 4.97a.75.75 0 0 1 1.071 1.05l-3.992 4.99a.75.75 0 0 1-1.08.02L4.324 8.384a.75.75 0 1 1 1.06-1.06l2.094 2.093 3.473-4.425a.235.235 0 0 1 .02-.022z"/>
                                </svg>
                                Livraison
                             </p>
                        </div>
                        {# step Paiement #}
                        <div class="col-2">
                            <p class="text-progress color text-center m-0">
                                <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-check-square" viewBox="0 0 16 16">
                                    <path d="M14 1a1 1 0 0 1 1 1v12a1 1 0 0 1-1 1H2a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1h12zM2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2z"/>
                                    <path d="M10.97 4.97a.75.75 0 0 1 1.071 1.05l-3.992 4.99a.75.75 0 0 1-1.08.02L4.324 8.384a.75.75 0 1 1 1.06-1.06l2.094 2.093 3.473-4.425a.235.235 0 0 1 .02-.022z"/>
                                </svg>
                                Paiement
                            </p>
                        </div>
                        {# step Validation #}
                        <div class="col-2">
                            <p class="text-progress color text-end m-0">
                                <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-check-square" viewBox="0 0 16 16">
                                    <path d="M14 1a1 1 0 0 1 1 1v12a1 1 0 0 1-1 1H2a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1h12zM2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2z"/>
                                    <path d="M10.97 4.97a.75.75 0 0 1 1.071 1.05l-3.992 4.99a.75.75 0 0 1-1.08.02L4.324 8.384a.75.75 0 1 1 1.06-1.06l2.094 2.093 3.473-4.425a.235.235 0 0 1 .02-.022z"/>
                                </svg>
                                Validation
                            </p>
                        </div>    
                    </div>    
                </div>
            </div>
            {# fermeture progress-bar #}
  
            <div class="row d-flex justify-content-center my-5">
                <div class="col-11 d-flex justify-content-center"> 
                    <div class="col-10 card">
                         <div class="card-header text-center">
                            Détails de votre commande <span> {{ app.session.get('orderReference') }}</span>
                        </div>
                        <div class="card">
                            <div class="card-body">
                                {% for items in items %}
                                <div class="row mb-3">
                                    {# info du produit #}
                                    <div class="col-2">
                                        <img src="{{ asset('build/images/' ~ items.product.image) }}" alt="{{ asset(items.product.image) }}">
                                    </div>
                                    <div class="col-8 block-info">
                                        {# marque label du produit #}
                                        <p class="brand"><span>{{ items.product.brand }} </span>{{ items.product.label }}</p>                        

                                        {# prix du produit HT #}
                                        <p class="brand">
                                           <span>Montant HT: </span>{{ items.product.price|abs|format_currency('EUR', locale='fr') }}
                                        </p> 

                                        {# Promotion #}
                                        {% if  items.product.discount != null %}
                                            <p class="brand">
                                                <span>Remise de </span>{{ items.product.discount }}% </span>
                                                <span>soit </span>{{ (10 * items.product.price / 100)|round|format_currency('EUR', locale='fr') }}
                                            </p>
                                        {% endif %}

                                        {# prix du produit après réduction #}
                                        <p class="brand">
                                            {% if items.product.discount != null %}
                                            <span>Montant TTC: </span>
                                            <span class="price">
                                                {% set DiscountPrice = items.product.price - (items.product.discount / 100 * items.product.price) %} {# varible qui stock le prix après réduction #}
                                                {{ DiscountPrice|format_currency('EUR', locale='fr') }}
                                            {% else %}
                                                <span>Montant TTC: </span>
                                                <span class="price">
                                                    {{ items.product.price|format_currency('EUR', locale='fr') }}
                                                </span>   
                                            </span>
                                            {% endif %}
                                        </p>                                               
                                    </div> 
                                    
                                    <div class="col-2 text-end">
                                       <span class="quant-text">Quantité: </span> <span class="quantity">{{ items.quantity }}</span>       
                                    </div>
                                    {# fin info du produit #}                            
                                </div>
                                <hr class="between-products">
                                {% endfor %}

                                {# sous-total & total TTC #}
                                <div class="col-row">
                                    {# sous-total #}
                                        <div class="col-12 d-flex justify-content-center">
                                        <div class="col-6">
                                            <p class="small-text mb-0">Sous-total TTC:</p>  
                                        </div>   
                                        <div class="col-5 text-end">                                              
                                            <p class="small-text">{{ total|format_currency('EUR', locale='fr') }}</p>  
                                        </div>
                                    </div> 
                                    {# type de livraison #}
                                        <div class="col-12 d-flex justify-content-center">
                                        <div class="col-6">
                                            <p class="small-text mb-0">Livraison: <span class="quantity">{{ shipping }}</span></p>  
                                        </div>   
                                        <div class="col-5 text-end"> 
                                            {% if shipping == 'Premium' %}                                             
                                                <p class="small-text">9,99 €</p>
                                            {% else %}
                                                <p class="small-text">OFFERT</p>
                                            {% endif %}  
                                        </div>
                                    </div> 
                                    <hr class="between-products">
                                    {# total TTC #}
                                    <div class="col-12 d-flex justify-content-center">
                                        <div class="col-6">
                                            <p class="mb-0">Total TTC:</p>  
                                        </div>   
                                        <div class="col-5 text-end">
                                            {% if shipping == 'Premium' %}
                                                {% set totalPremium = total + 9.99 %} 
                                                <p class="price mb-0">{{ totalPremium|format_currency('EUR', locale='fr') }}</p>
                                            {% else %}
                                                <p class="price mb-0">{{ total|format_currency('EUR', locale='fr') }}</p>
                                            {% endif %}                                                                              
                                        </div>
                                    </div> 
                                </div>                                        
                                {# fermeture sous-total & total #}
                            </div>
                        </div> 
                    </div> 
                </div>
            </div>

            {# facture PDF + QR CODE #}
            <div class="row d-flex justify-content-center">
                <div class="col-10 d-flex justify-content-center">
                    <div class="col-5 my-3">
                       <a href="{{ path('app_checkout_order_invoice') }}"><p class="pdf text-center">TELECHARGER MA FACTURE</p></a> 
                    </div>   
                    <div class="col-5 text-end">
                       QR CODE                                                                    
                    </div>
                </div> 
            </div>
            <hr>
           
        </div> {# fermeture contenant-page #}
            
        {# footer #} 
        {{ include('/layouts/footer.html.twig') }}
    </div> {# fermeture du container products #}   
</header>
{% endblock %}

