{# card MODIFICATION de mes infos personelles #}
<div class="row d-flex justify-content-center mt-3">
    {# Pour garder la card modifier en cas d'erreur afficher #}
    <div class="col-11 card edit" id="EditCard">
        <div class="card-body">
            <div class="row">
                <div class="col">
                    <h5 class="card-title m-0">Modifier mes données personnelles :</h5>
                </div>
            </div>
            
            <hr>

            {# formulaire de modification #}
            {{ form_start(form) }}
            <div class="row d-flex justify-content-between">
                <div class="info-user d-flex mb-3"><span class="title-info-user">E-mail: </span>{{ app.user.email }}</div>
    
                <div class="col-6">                                                   
                    <div class="info-user mb-2"><span class="title-info-user">Nom: </span>{{ form_row(form.lastName) }}</div>
                    <div class="info-user mb-2"><span class="title-info-user">Prénom: </span>{{ form_row(form.firstName) }}</div>
                    <div class="info-user mb-2"><span class="title-info-user">Numéro de portable: </span>{{ form_row(form.phone) }}</div>                                                    
                    <div class="info-user"><span class="title-info-user">Numéro de téléphone fixe: </span>{{ form_row(form.phoneFixe) }}</div> 
                </div>
                <div class="col-6">
                    <div class="info-user mb-2"><span class="title-info-user">Adresse: </span>{{ form_row(form.address) }}</div>                                                  
                    <div class="info-user mb-2"><span class="title-info-user">Complément d'adresse: </span>{{ form_row(form.additionalAddress) }}</div>                                                                              
                    <div class="info-user mb-2"><span class="title-info-user">Ville: </span>{{ form_row(form.city) }}</div>
                    <div class="info-user mb-2"><span class="title-info-user">Code postal: </span>{{ form_row(form.zipCode) }}</div>
                    <div class="info-user"><span class="title-info-user">Pays: </span>{{ form_row(form.country) }}</div>                                                    
                </div>
                
                {# Boutton valider la modification #}
                <div class="row text-center mt-5">
                    <div class="col">
                            {{ form_row(form.Valider) }}
                    </div>
                </div> 
            {# fermeture du formulaire de modification #}
            </div>
            {{ form_end(form) }}
        </div>
    </div> 
</div>