{% extends 'layouts/base.html.twig' %}

{% block title 'Village green' %}

{% block body %}
    <header id="background">
        <div class="container-fluid container-admin-dashboard">
            <div class="row">
                {# -----gauche menu----- #}
                {% include('admin/layouts/menu_admin.html.twig') %}
                {# ------fermeture gauche menu----- #}
         
                {# -----droite corps----- #}
                <div class="col body mt-3" id="body">
                    {# navbar #}
                    {% include('admin/layouts/navbar_admin.html.twig') %}
                    {# fermeture navbar #}

                    <!-- Main -->
                    {% for product in product %}
                    {% if product.id == (app.request.get('id')) %}
                    <main role="main" class="col-md-10 main pr-0 ml-sm-auto col-lg-12">
                        {# titre du champs + boutton modifier #}
                        <div class="row mt-5">
                            <div class="col-10 d-flex">
                                <div class="col-10">
                                    <h2 class="m-0">Détails du produit <span class="important title-product">{{ product.brand  ~ " " ~ product.label }}</span></h2>
                                </div>
                            </div>
                            <div class="col d-flex justify-content-end align-items-center">
                                <a href="#">
                                    <button type="button" class="btn btn-primary mb-3">Modifier le produit</button>
                                </a> 
                            </div>
                        </div>
                        <hr>

                        {# message d'erreur #}
                        {% if product.stock < product.stockAlert %}
                        <div class="row alert-stock mt-2">
                            <div class="col-12 my-3">
                                <p class="text-center m-0">ATTENTION VOUS-ÊTES EN DESSOUS DU STOCK D'ALERTE VEUILLEZ RÉAPROVISIONER LE STOCK !</p>
                            </div>
                        </div>
                        {% endif %}
                            
                        {# details du produit #}
                        <div class="row content-card-details mt-5">                 
                            <div class="col-12">
                                <div class="row">
                                    {# image produit #}
                                    <div class="col-3 border-end">
                                        <img src="{{ asset(product.image) }}" class="img-fluid rounded-start" alt="{{ product.label }}">
                                    </div>
                                    {# bloc details gauche #}
                                    <div class="col-9 d-flex p-0">
                                        <div class="col-6 p-2 border-end">
                                            {# bloc id #}
                                            <div class="row d-flex justify-content-between">
                                                <div class="col-4">
                                                    <p>ID :</p>
                                                </div>
                                                <div class="col-8">
                                                   <span class="color"><p class="text-end">{{ product.id }}</p></span>  
                                                </div>
                                            </div>
                                            {# bloc référence #}
                                            <div class="row d-flex justify-content-between">
                                                <div class="col-4">
                                                   <p>Référence :</p>
                                                </div>
                                                <div class="col-8">
                                                    <p class="text-end"><span class="color">{{ product.reference }}</span></p> 
                                                </div>
                                            </div>
                                            {# bloc marque #}
                                            <div class="row d-flex justify-content-between">
                                                <div class="col-4">
                                                    <p>Marque :</p>
                                                </div>
                                                <div class="col-8">
                                                   <p class="text-end"><span class="color">{{ product.brand }}</span></p>
                                                </div>
                                            </div>
                                            {# bloc label #}
                                            <div class="row d-flex justify-content-between">
                                                <div class="col-4">
                                                   <p>Label :</p>
                                                </div>
                                                <div class="col-8">
                                                    <p class="text-end"><span class="color">{{ product.label }}</span></p> 
                                                </div>
                                            </div>
                                            {# bloc label court #}
                                            <div class="row d-flex justify-content-between">
                                                <div class="col-4">
                                                    <p>Label court :</p>
                                                </div>
                                                <div class="col-8">
                                                    <p class="text-end"><span class="color">{{ product.shortLabel }}</span></p> 
                                                </div>
                                            </div>
                                            {# bloc catégorie #}
                                            <div class="row d-flex justify-content-between">
                                                <div class="col-4">
                                                   <p>Catégorie :</p>
                                                </div>
                                                <div class="col-8">
                                                    <p class="text-end"><span class="color">{{ product.category.label|replace({ 'Guit/Bass': "Guitare" })}}</span></p> 
                                                </div>
                                            </div>
                                            {# bloc sous-catégorie #}
                                            <div class="row d-flex justify-content-between">
                                                <div class="col-4">
                                                    <p>Sous-catégorie :</p>
                                                </div>
                                                <div class="col-8">
                                                    <p class="text-end"><span class="color">{{ product.subCategory.label }}</span></p> 
                                                </div>
                                            </div>
                                            {# bloc couleur #}
                                            <div class="row d-flex justify-content-between">
                                                <div class="col-4">
                                                   <p>Couleur :</p> 
                                                </div>
                                                <div class="col-8">
                                                    <p class="text-end"><span class="color">{{ product.color }}</span></p> 
                                                </div>
                                            </div>
                                            {# bloc matériaux #}
                                            <div class="row d-flex justify-content-between">
                                                <div class="col-4">
                                                    <p>Matériaux :</p>
                                                </div>
                                                <div class="col-8">
                                                    <p class="text-end"><span class="color">{{ product.material }}</span></p> 
                                                </div>
                                            </div>
                                        </div> {# fermeture bloc details gauche #}

                                        {# bloc details droite #}
                                        <div class="col-6 p-2">
                                            {# bloc prix hors taxe #}
                                            <div class="row d-flex justify-content-between">
                                                <div class="col-4">
                                                   <p>Prix HT :</p> 
                                                </div>
                                                <div class="col-8">
                                                    <p class="text-end"><span class="color">{{ product.price }} €</span></p> 
                                                </div>
                                            </div>
                                            {# bloc promotion #}
                                            <div class="row d-flex justify-content-between">
                                                <div class="col-4">
                                                   <p>Promotion :</p>
                                                </div>
                                                <div class="col-8">
                                                {% if product.discount == null %}
                                                    <p class="text-end"><span class="color">Aucune</span></p> 
                                                {% else %}
                                                    <p class="text-end"><span class="color">{{ product.discount }}%</span></p> 
                                                {% endif %}
                                                </div>
                                            </div>
                                            {# bloc stock #}
                                            <div class="row d-flex justify-content-between">
                                                <div class="col-4">
                                                   <p>Stock :</p>
                                                </div>
                                                <div class="col-8">
                                                 {% if product.stock < product.stockAlert %}
                                                    <p class="text-end"><span class="red fw-bold">{{ product.stock }}</span></p>
                                                {% else %}
                                                     <p class="text-end"><span class="color">{{ product.stock }}</span></p>
                                                {% endif %}
                                                </div>
                                            </div>
                                            {# bloc stock d'alerte #}
                                            <div class="row d-flex justify-content-between">
                                                <div class="col-4">
                                                   <p>Stock d'alerte :</p>
                                                </div>
                                                <div class="col-8">
                                                    <p class="text-end"><span class="color">{{ product.stockAlert }}</span></p> 
                                                </div>
                                            </div>
                                            {# bloc produit activé #}
                                            <div class="row d-flex justify-content-between">
                                                <div class="col-4">
                                                   <p>Activé :</p>
                                                </div>
                                                <div class="col-8">
                                                    {% if product.actived == 1 %}
                                                        <p class="text-end green">Oui</p>
                                                    {% else %}
                                                        <p class="text-end red">Non</p> 
                                                    {% endif %}
                                                </div>
                                            </div>
                                            {# bloc type de service #}
                                            <div class="row d-flex justify-content-between">
                                                <div class="col-4">
                                                   <p>Service :</p>
                                                </div>
                                                <div class="col-8">
                                                    {% if product.service == 1 %}
                                                        <p class="text-end"><span class="color">En vente</span></p> 
                                                    {% else %}
                                                        <p class="text-end"><span class="color">En Location</span></p> 
                                                    {% endif %}
                                                </div>
                                            </div>
                                            {# bloc date d'ajout #}
                                            <div class="row d-flex justify-content-between">
                                                <div class="col-5">
                                                   <p>Date de création :</p> 
                                                </div>
                                                <div class="col-5">
                                                    <p class="text-end"><span class="color">{{ product.createdAt|date("m/d/Y à h:m:s")  }}</span></p> 
                                                </div>
                                            </div>
                                            {# bloc date de modification #}
                                            <div class="row d-flex justify-content-between">
                                                <div class="col-5">
                                                   <p>Dernière modification :</p>
                                                </div>
                                                <div class="col-5">
                                                    <p class="text-end"><span class="color">{{ product.updatedAt|date("m/d/Y à h:m:s") }}</span></p> 
                                                </div>
                                            </div>
                                        </div> 
                                    </div>
                                </div>

                                <hr>
             
                                {# bloc description #}
                                <div class="row mt-3">
                                    <div class="col-12">
                                        <p>Description:</p>
                                    </div>
                                    <div class="col-12">
                                        <p><span>{{ product.description }}</span></p>
                                    </div>    
                                </div>

                                                                             
                            </div>              
                        </div> {# fermeture details du produit #}
                    </main>
                    {% endif %}
                    {% endfor %}  
                </div>
                {# -------fermeture droite corps------ #}               
            </div>         
        </div>
    </header>
{% endblock %}
